*{
    margin: 0;
    padding: 0;

}
html{
    scroll-behavior: smooth;
}
body{
    line-height: 1.5;
    font-family: ;
    background-color: #e2e2e3;
}
.cantainer{
    max-width: 1320px;
    margin:  0 auto;
    
    
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    height: 100%;
    display: block;
}
.header{
    width: 100%;
   
}
.navigation{
    padding: 2rem 0 ;
    cursor: pointer;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.logo a{
    color: dimgray;
    font-size: 2.7rem;
    font-family: Broadway;
    font-weight: 900;
    text-decoration: none;
}
.navbar_nav a{
padding-left: 20px;
padding-right: 20px;
font-size: 1.5rem;
text-transform: capitalize;
color:dimgray;
opacity: 0.8;
transition: 0.5s linear;
}
.navbar_nav a:hover{
    color: black;
}
.fa-magnifying-glass{
    font-size: 23px;
    color:dimgray;
    transition: linear 0.5s;
}
.fa-magnifying-glass:hover{
    color:black;

}
    .banner{
        padding: 5rem;
        background-color:  rgb(249, 241, 241);
        background-image: url(../img/photo_2022-10-05_22-38-54.jpg);
        background-repeat: no-repeat;
        background-position:right;
        background-size: 20%;
    }
    .banner h1{
        background-color: black;
        width: 25%;
        color: bisque;
        padding:0.2rem 0.8rem;
        text-transform: capitalize;
        font-weight: 100;
        letter-spacing: 2px;
        margin-bottom: 1rem;
        font-size: 35px;
        font-family: PMingLiU-ExtB;
    }
    .banner span{
        font-size: 25px;
        font-family: PMingLiU-ExtB;
        letter-spacing: 3px;
    }
    .blog{
        padding: 4.8rem;
        background-color: #fff;
    }
    .blog__content{
        display: grid;
        grid-template-columns: repeat(2,50%);
        gap: 2.5rem ;
    }
    .blog__title{
        text-align: center;
    }
    .blog__title{
        font-size: 2rem;
        font-family:  PMingLiU-ExtB;
        letter-spacing: 2px;
        margin-bottom: 1rem;
        text-transform: capitalize;
    }
    .blog__title p{
    text-align: left;
    margin-bottom: 1rem;
    letter-spacing: 1px;
    font-size: 18px;
    opacity: 1;
    }

 .team{
    padding: 4.8rem 0;
    background-color: #fff;
     }
    .team__title{
        text-align: center;
    }
    .team__title h2{
        font-size: 2.5rem;
        font-family:PMingLiU-ExtB;
        letter-spacing: 15px;
        margin-bottom: 1rem;
        text-transform: capitalize;
        word-spacing: 10px;
    }
    .team__title p{
        width: 50%;
        margin-left: 25%;
        font-family:PMingLiU-ExtB;
        letter-spacing: 0.5px;
        font-size: 17px;
        margin-bottom: 1rem;
    }
    .team__content{
        display: grid;
       grid-template-columns: repeat(3,1fr);
       gap: 3rem;
        
    }
    .team__item{
        cursor: progress;
    }
    .team__img{
        position: relative;
        overflow: hidden;
        
    }
    .team__img img{
        transition: 1s;
        transform: scale(1.5);
    }
    .team__img img:hover{
        transform: scale(1);

    }
    .team__item.title h3{
        text-transform: capitalize;
        margin-top: 0.5rem;
        font-family: PMingLiU-ExtB;
    }
    .team__item.title p{
        margin-top: 0.5rem;
        text-align:left;
        font-size: 18px;
    } 
                                            /* end fixed team */
                                            /* start web__logo */
         
       .web__logo{
        height: 10vh;
        background-color: whitesmoke;
    }

    .web__logo .container h1{
        color: dimgray;
        font-size: 3.5rem;
        text-transform: uppercase;
        text-align: center;
    }
                                               /* end  web__logo  */
                                               /* start socal media */
       .social__media{
        height: 5vh;
        background-color: beige;
        text-align: center;
        padding-top: 0.2rem;
       }
       .social__media a{
        color: #000;
        margin-left: 30px;
        margin-right: 30px;
        font-size:  20px; 
        transition: color 0.5s;
       }
       .social__media a :hover{
        color: dimgray;
       }
                                                /* .social__media end  */
                                                /* footer start */

    .footer{
        height: 10vh;
        background-color: rgb(174, 168, 168);
        display: flex;
        text-align: center;
    }   
    .footer p{
        color: #fff;
        margin-top: 15px;
        font-size: 18px;
        letter-spacing: 2px;
    
    }        
    .navbar_nav .fa-bars{
        display: none;  
    }               
     /* site end  */    
     /* start responsive */

@media screen and (max-width:768px){
    
    .navbar_nav .fa-bars{
        display:block;
    
    }
    .navbar_nav a{
        display:none;  
        
    }    

   .navbar_nav .fa-magnifying-glass{
        display: none;
    }
 
    .banner h1 {
        width: 80%;
        font-size: 25px;
        margin-bottom: 0;
    }
    .banner span {
        font-size: 15px;
        font-family: PMingLiU-ExtB;
        letter-spacing: 3px;
    }
    

.blog__content {
    display: grid;
    grid-template-columns:100%;
    gap: 2.5rem;
}
.team__title {
    text-align: center;
}
.team__title p{
    width: 100%;
    margin-left: 0%;
    text-align: justify;
}
.team__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
   
}
}



      
    
